services:
  postgres:
    image: postgres:latest
    container_name: YrkesCo
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: 
      - "${POSTGRES_PORT}:5432" 
    volumes:
      - YrkesCo_data:/var/lib/postgresql 
      - ./sql:/sql 
    healthcheck: 
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      retries: 5
      timeout: 3s

volumes:
  YrkesCo_data: 